<!DOCTYPE html>
<html>
<head>
    <title>Oral Cancer AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <h1>Oral Cancer Detection System</h1>
    <p>Secure Clinical Access</p>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>
</body>
</html>